In [1]:
import numpy as np
import pandas as pd
import sklearn

### Importing Raw Data

In [2]:
raw = pd.read_csv('RawData.csv')

In [3]:
raw.head(10)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÚBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No

In [4]:
# Drop patient ID and appointment ID variables
cleaned = raw.drop(['PatientId', 'AppointmentID'], axis = 1)

### Dealing with Date Time Data

In [5]:
# Convert Scheduled Day and Appointment Day to datetime datatypes
cleaned["ScheduledDay"] = pd.to_datetime(cleaned["ScheduledDay"])
cleaned["AppointmentDay"] = pd.to_datetime(cleaned["AppointmentDay"])

In [6]:
# Extracting day of the week
cleaned["ScheduledDoW"] = cleaned["ScheduledDay"].dt.day_name()
cleaned["AppointmentDoW"] = cleaned["AppointmentDay"].dt.day_name()

In [7]:
# New feature for days in between appointment day and scheduled day 
cleaned["DaysInBetween"] = (cleaned["AppointmentDay"] - cleaned["ScheduledDay"].dt.normalize()).dt.days

In [8]:
cleaned['ScheduledM'] = cleaned['ScheduledDay'].dt.month_name()
cleaned['AppointmentM'] = cleaned['AppointmentDay'].dt.month_name()
# Year is not included because all data points are from 2016
# Quarter is not included because all data points are from appointments in months 4,5,6
cleaned['AppointmentisWeekend'] = np.where(cleaned['AppointmentDoW'].isin(['Sunday', 'Saturday']), 1, 0)
cleaned['ScheduledisWeekend'] = np.where(cleaned['ScheduledDoW'].isin(['Sunday', 'Saturday']), 1, 0)
cleaned['ScheduledisPM'] = np.where(cleaned['ScheduledDay'].dt.hour < 12, 0, 1)

In [9]:
cleaned.head(10)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDoW,AppointmentDoW,DaysInBetween,ScheduledM,AppointmentM,AppointmentisWeekend,ScheduledisWeekend,ScheduledisPM
0,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Friday,Friday,0,April,April,0,0,1
1,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Friday,Friday,0,April,April,0,0,1
2,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,Friday,Friday,0,April,April,0,0,1
3,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Friday,Friday,0,April,April,0,0,1
4,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Friday,Friday,0,April,April,0,0,1
5,F,2016-04-27 08:36:51,2016-04-29,76,REPÚBLICA,0,1,0,0,0,0,No,Wednesday,Friday,2,April,April,0,0,0
6,F,2016-04-27 15:05:12,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,0,Yes,Wednesday,Friday,2,April,April,0,0,1
7,F,2016-04-27 15:39:58,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,0,Yes,Wednesday,Friday,2,April,April,0,0,1
8,F,2016-04-29 08:02:16,2016-04-29,21,ANDORINHAS,0,0,0,0,0,0,No,Friday,Friday,0,April,April,0,0,0
9,F,2016-04-27 12:48:25,2016-04-29,19,CONQUISTA,0,0,0,0,0,0,No,Wednesday,Friday,2,April,April,0,0,1

### Checking for Data Entry Errors

In [10]:
# Delete any rows where the scheduled date is after the appointment date 
cleaned = cleaned[cleaned['DaysInBetween'] >= 0]

In [11]:
cleaned = cleaned.drop(['ScheduledDay', 'AppointmentDay'], axis = 1)

In [12]:
# check for NA in the entire data frame 
print(cleaned.isnull().values.any())

False

In [13]:
cleaned.head(10)

,Gender,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDoW,AppointmentDoW,DaysInBetween,ScheduledM,AppointmentM,AppointmentisWeekend,ScheduledisWeekend,ScheduledisPM
0,F,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Friday,Friday,0,April,April,0,0,1
1,M,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Friday,Friday,0,April,April,0,0,1
2,F,62,MATA DA PRAIA,0,0,0,0,0,0,No,Friday,Friday,0,April,April,0,0,1
3,F,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Friday,Friday,0,April,April,0,0,1
4,F,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Friday,Friday,0,April,April,0,0,1
5,F,76,REPÚBLICA,0,1,0,0,0,0,No,Wednesday,Friday,2,April,April,0,0,0
6,F,23,GOIABEIRAS,0,0,0,0,0,0,Yes,Wednesday,Friday,2,April,April,0,0,1
7,F,39,GOIABEIRAS,0,0,0,0,0,0,Yes,Wednesday,Friday,2,April,April,0,0,1
8,F,21,ANDORINHAS,0,0,0,0,0,0,No,Friday,Friday,0,April,April,0,0,0
9,F,19,CONQUISTA,0,0,0,0,0,0,No,Wednesday,Friday,2,April,April,0,0,1

### One Hot Encoding for Categorical Variables

In [14]:
# helper function to perform One Hot Encoding on all the features listed in feature_to_encode
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]], drop_first = True)
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res)

In [15]:
copyclean = cleaned

In [16]:
features_to_encode = ['Gender', 'Neighbourhood', 'ScheduledDoW', 'AppointmentDoW', 'ScheduledM', 'AppointmentM']

for feature in features_to_encode:
    copyclean = encode_and_bind(copyclean, feature)

In [17]:
cleaned = copyclean

### Convert to Numpy Array

In [19]:
# Move target variable to end of dataframe
target = cleaned.pop("No-show")
cleaned.insert(cleaned.shape[1], "No-show", target)

In [20]:
# Move gender variable to beginning
gender = cleaned.pop("Gender_M")
cleaned.insert(0, "Gender_M", gender)

In [21]:
# Split dataset into feature variables (X) and target variable (y)
X = cleaned.iloc[:, :-1].values
y = cleaned.iloc[:, -1].values

In [22]:
# Encode the target variable 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

### Splitting Data into Train and Test

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

### Standardization (mean removal and variance scaling)

In [24]:
scaler = sklearn.preprocessing.StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

### Export as NPY files

In [25]:
np.save('X_train', X_train_scaled)
np.save('y_train', y_train)
np.save('X_test', X_test_scaled)
np.save('y_test', y_test)

np.save('X_train_raw', X_train)
np.save('X_test_raw', X_test)

### General Data Analysis

In [27]:
total_rows = cleaned.shape[0]
print("Total number of data samples: ", total_rows)
# Percentage of patients that are male
male = cleaned.apply(lambda x: True if x['Gender_M'] == 1 else False, axis = 1)
m_rows = len(male[male == True].index)
print("Male: ", m_rows/total_rows)
# Percentage of patients that are female
female = cleaned.apply(lambda x: True if x['Gender_M'] == 0 else False, axis = 1)
f_rows = len(female[female == True].index)
print("Female: ", f_rows/total_rows)
# Percentage of patients that have scholarship 
scholarship = cleaned.apply(lambda x: True if x['Scholarship'] == 1 else False, axis = 1)
s_rows = len(scholarship[scholarship == True].index)
print("Scholarship: ", s_rows/total_rows)
# Percentage of patients with no scholarship
noscholarship = cleaned.apply(lambda x: True if x['Scholarship'] == 0 else False, axis = 1)
ns_rows = len(noscholarship[noscholarship == True].index)
print("No scholarship: ", ns_rows/total_rows)

Total number of data samples:  110522
Male:  0.3500208103364036
Female:  0.6499791896635964
Scholarship:  0.0982700276867954
No scholarship:  0.9017299723132046

In [28]:
# P(no show | male)
male_noshow = cleaned.apply(lambda x: True if (x['Gender_M'] == 1 and x['No-show'] == "Yes") else False, axis = 1)
m_noshow_rows = len(male_noshow[male_noshow == True].index)
print("Male: ", m_noshow_rows/m_rows)
# P(no show | female)
female_noshow = cleaned.apply(lambda x: True if (x['Gender_M'] == 0 and x['No-show'] == "Yes") else False, axis = 1)
f_noshow_rows = len(female_noshow[female_noshow == True].index)
print("Female: ", f_noshow_rows/f_rows)
# P(no show | scholarship)
scholarship_noshow = cleaned.apply(lambda x: True if x['Scholarship'] == 1 and x['No-show'] == "Yes" else False, axis = 1)
s_noshow_rows = len(scholarship_noshow[scholarship_noshow == True].index)
print("Scholarship: ", s_noshow_rows/s_rows)
# P(no show | no scholarship) 
noscholarship_noshow = cleaned.apply(lambda x: True if x['Scholarship'] == 0 and x['No-show'] == "Yes" else False, axis = 1)
ns_noshow_rows = len(noscholarship_noshow[noscholarship_noshow == True].index)
print("No scholarship: ", ns_noshow_rows/ns_rows)

Male:  0.19963810262375598
Female:  0.203112602140958
Scholarship:  0.2373630420771568
No scholarship:  0.19803132619580377

In [29]:
# Of the no-shows...
noshow = cleaned.apply(lambda x: True if x['No-show'] == "Yes" else False, axis = 1)
total_noshow = len(noshow[noshow == True].index)
print("Total no shows: ", total_noshow)
print("Proportion of no shows: ", total_noshow / total_rows)
# P(male | no show)
print("Male: ", m_noshow_rows / total_noshow)
# P(female | no show)
print("Female: ", f_noshow_rows / total_noshow)
# P(scholarship | no show)
print("Scholarship: ", s_noshow_rows / total_noshow)
# P(no scholarship | no show)
print("No scholarship: ", ns_noshow_rows / total_noshow)

Total no shows:  22314
Proportion of no shows:  0.2018964550044335
Male:  0.3461055839383347
Female:  0.6538944160616653
Scholarship:  0.11553284933225777
No scholarship:  0.8844671506677422